// Add your own custom styles here
.hero {
    overflow: hidden;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: transparent url("/images/hero_1.png") no-repeat center contain;

    animation-name: rotate;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
